<div class="title">
  <h3 class="box-title name">Git Tutorial</h3>
  <div class="subject-status clearfix">
    <span class="status finished">Finished</span>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div class="slimScrollDiv">
      <div class="description">
        <div class="box-content">
          <div class="pull-left title">Resources</div>
          <div class="pull-right"><a href="#show-content" class="text" data-toggle="collapse">Show more</a></div>
          <div class="clearfix"></div>
        </div>
        <div id="show-content" class="collapse show-panel">
          <p>[Git]</p>
          <p><a href="http://git-scm.com/book" target="_blank">http://git-scm.com/book</a> - 4 chương đầu&nbsp;&nbsp;</p>
          <p><a href="http://backlogtool.com/git-guide/vn/intro/intro1_1.html" target="_blank">http://backlogtool.com/git-guide/vn/intro/intro1_1.html</a>&nbsp;</p>
          <p><a href="http://chris.beams.io/posts/git-commit/" target="_blank">http://chris.beams.io/posts/git-commit/</a>&nbsp;</p>
          <p>[Slide tham khảo]</p>
          <p><a href="https://docs.google.com/presentation/d/13UFE6PupQxlT_XAOx6AJJUXJCjOjkum8tOjj96dr37E/edit#slide=id.p3" target="_blank">https://docs.google.com/presentation/d/13UFE6PupQxlT_XAOx6AJJUXJCjOjkum8tOjj96dr37E/edit#slide=id.p3</a>&nbsp;</p>
          <p></p>
          <p>[Video]</p>
          <p><a href="https://www.youtube.com/watch?v=OBCnmcgx4CE" target="_blank">https://www.youtube.com/watch?v=OBCnmcgx4CE</a>&nbsp;</p>
          <p>Kết thúc học các em sẽ làm bài test GIT, tối đa có 3 lần test, kết quả tối thiểu để pass bài test là 25/30</p>
          <p>[Link test]</p>
          <p><a href="http://training.framgia.vn/" target="_blank">http://training.framgia.vn/</a>&nbsp;</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <p></p>
      <div class="column-chart">
        <table>
        </table>
      </div>
      <div class="assignment-box">
        <div class="list-assignment">
          <h1 class="header-task"><!-- react-text: 172 -->Task Overview<span class="label label-danger label-header">10 tasks</span><!-- react-text: 174 --></h1>
          <div class="assignment-item clearfix">
            <div class="col-md-2 avatar-user">
              <a>
                <%= image_tag "user.png", class: "img-circle" %>
              </a>
            </div>
            <div class="col-md-10 info-detail">
              <div class="row title-assignment">
                <div class="div-status" title="In Progress">
                  <!-- react-text: 265 -->in_progress
                  <em class="status status-progress cursor"></em></div>
                <p class="name">Getting Started</p>
                <p class="content-assignment">Get an introduction to project git</p>
              </div>
              <div class="row">
                <div class="col-md-6 border-right info"><i class="fa fa-calendar"></i>
                  <!-- react-text: 272 -->Started at:

                  <!-- react-text: 273 -->04/07/2018 08:24 am

                </div>
                <div class="col-md-6 info"><i class="fa fa-calendar"></i>
                  <!-- react-text: 276 -->Finished at:

                  <!-- react-text: 277 -->

                </div>
              </div>
              <div class="">
                <p><a href="#show-meta-tasks-32723" class="text" data-toggle="collapse">Submission</a></p>
                <div id="show-meta-tasks-32723" class="collapse show-panel"></div>
              </div>
            </div>
          </div>
          <div class="assignment-item clearfix">
            <div class="col-md-2 avatar-user">
              <a>
                <%= image_tag "user.png", class: "img-circle" %>
              </a>
            </div>
            <div class="col-md-10 info-detail">
              <div class="row title-assignment">
                <div class="div-status" title="Init">
                  <!-- react-text: 289 -->init
                  <em class="status status-init cursor"></em></div>
                <p class="name">Git Basics</p>
                <p class="content-assignment">Get an introduction to project git</p>
              </div>
              <div class="row">
                <div class="col-md-6 border-right info"><i class="fa fa-calendar"></i>
                  <!-- react-text: 296 -->Started at:

                  <!-- react-text: 297 -->

                </div>
                <div class="col-md-6 info"><i class="fa fa-calendar"></i>
                  <!-- react-text: 300 -->Finished at:

                  <!-- react-text: 301 -->

                </div>
              </div>
              <div class="">
                <p><a href="#show-meta-tasks-32724" class="text" data-toggle="collapse">Submission</a></p>
                <div id="show-meta-tasks-32724" class="collapse show-panel"></div>
              </div>
            </div>
          </div>
          <div class="assignment-item clearfix">
            <div class="col-md-2 avatar-user">
              <a>
                <%= image_tag "user.png", class: "img-circle" %>
              </a>
            </div>
            <div class="col-md-10 info-detail">
              <div class="row title-assignment">
                <div class="div-status" title="Init">
                  <!-- react-text: 313 -->init
                  <em class="status status-init cursor"></em></div>
                <p class="name">Git Branching</p>
                <p class="content-assignment">Get an introduction to project git</p>
              </div>
              <div class="row">
                <div class="col-md-6 border-right info"><i class="fa fa-calendar"></i>
                  <!-- react-text: 320 -->Started at:

                  <!-- react-text: 321 -->

                </div>
                <div class="col-md-6 info"><i class="fa fa-calendar"></i>
                  <!-- react-text: 324 -->Finished at:

                  <!-- react-text: 325 -->

                </div>
              </div>
              <div class="">
                <p><a href="#show-meta-tasks-32725" class="text" data-toggle="collapse">Submission</a></p>
                <div id="show-meta-tasks-32725" class="collapse show-panel"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="slimScrollDiv">
      <div class="panel-right-info-trainee" style="overflow: hidden; width: auto; height: 132px;">
        <div class="member_user_course">
          <div class="info-panel clearfix">
            <div class="box-border box-top-custom">
              <div class="box-header with-border box-header-gray">
                <h3 class="label box-title">Members</h3><span class="badge label-primary">15</span></div>
              <div class="box-body">
                <div>
                  <div class="member-title">Trainers(0)
                  </div>
                  <ul class="user-list clearfix">
                    <ul class="user-list clearfix"></ul>
                  </ul>
                  <div class="member-title">Trainee(3)
                  </div>
                  <ul class="member-list clearfix">
                    <li class="member-item"><a href="#" class="cursor"><img class="img-circle" src="/assets/user.png" width="30" height="30"><span>Hoàng Tùng Lâm</span></a></li>
                    <li class="member-item"><a href="#" class="cursor"><img class="img-circle" src="/assets/user.png" width="30" height="30"><span>Nguyễn Văn Dương</span></a></li>
                    <li class="member-item"><a href="#" class="cursor"><img class="img-circle" src="/assets/user.png" width="30" height="30"><span>Đỗ Khắc Hưng</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
