<div class="course-show-body clearfix">
  <div class="col-md-12 col-list-subjects">
    <div class="tab-pane timeline-container active clearfix" id="timeline">
      <ul class="timeline timeline-inverse timeline-subject">
        <li>
          <span class="label label-info timeline-label start_date_label">03/07/2018</span>
          <div class="subject-timeline subject">
            <div class="div-status" title="Finish">
              <em class="status status-finished cursor"></em>
            </div>
            <div class="subject-body clearfix">
              <div class="subject-image">
                <%= image_tag "try_git.png", class: "dp-img-circle" %>
              </div>
              <div class="infor">
                <div>
                  <a href="https://education.framgia.vn/courses/256/subjects/4">
                    <span class="subject-name">Git Tutorial</span><!-- react-text: 172 -->&nbsp;
                  </a>
                  <span><i>2  days</i></span><!-- react-text: 175 -->&nbsp;&nbsp;
                </div>
                <i class="td-subject-description">Start Git for your project today.</i>
                <div class="td-subject-content">
                  <div class="subject-content">
                    <p data-toggle="collapse" data-target="#td-content-subject-0" class="td-show-more">[Show content]</p>
                    <div id="td-content-subject-0" class="collapse">
                      <i class="td-subject-description">
                        <p>[Git]</p>
                        <p><a href="http://git-scm.com/book" target="_blank">http://git-scm.com/book</a> - 4 chương đầu&nbsp;&nbsp;</p>
                        <p><a href="http://backlogtool.com/git-guide/vn/intro/intro1_1.html" target="_blank">http://backlogtool.com/git-guide/vn/intro/intro1_1.html</a>&nbsp;</p>
                        <p><a href="http://chris.beams.io/posts/git-commit/" target="_blank">http://chris.beams.io/posts/git-commit/</a>&nbsp;</p>
                        <p>[Slide tham khảo]</p>
                        <p><a href="https://docs.google.com/presentation/d/13UFE6PupQxlT_XAOx6AJJUXJCjOjkum8tOjj96dr37E/edit#slide=id.p3" target="_blank">https://docs.google.com/presentation/d/13UFE6PupQxlT_XAOx6AJJUXJCjOjkum8tOjj96dr37E/edit#slide=id.p3</a>&nbsp;</p>
                        <p></p>
                        <p>[Video]</p>
                        <p><a href="https://www.youtube.com/watch?v=OBCnmcgx4CE" target="_blank">https://www.youtube.com/watch?v=OBCnmcgx4CE</a>&nbsp;</p>
                        <p>Kết thúc học các em sẽ làm bài test GIT, tối đa có 3 lần test, kết quả tối thiểu để pass bài test là 25/30</p>
                        <p>[Link test]</p>
                        <p><a href="http://training.framgia.vn/" target="_blank">http://training.framgia.vn/</a>&nbsp;</p>
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="label label-success timeline-label end_date_label">05/07/2018</span>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="label label-info timeline-label start_date_label">05/07/2018</span>
          <div class="subject-timeline subject">
            <div class="div-status" title="Init">
              <em class="status status-init cursor"></em>
            </div>
            <div class="subject-body clearfix">
              <div class="subject-image">
                <%= image_tag "try_ruby.png", class: "dp-img-circle" %>
              </div>
              <div class="infor">
                <div>
                  <a href="https://education.framgia.vn/courses/256/subjects/1">
                    <span class="subject-name">Ruby on Rails Tutorial Book </span>&nbsp;
                  </a>
                  <span><i>10  days</i></span>&nbsp;&nbsp;
                </div>
                <i class="td-subject-description">Learn the basic building blocks of Ruby, all in the browser.</i>
                <div class="td-subject-content">
                  <div class="subject-content">
                    <p data-toggle="collapse" data-target="#td-content-subject-1" class="td-show-more">[Show content]</p>
                    <div id="td-content-subject-1" class="collapse">
                      <i class="td-subject-description">
                        <p><strong>Tài liệu học tập</strong>:</p>
                        <p>[Coding Convention]&nbsp;</p>
                        <p><a href="https://github.com/framgia/coding-standards/blob/master/vn/README.md " target="_blank">https://github.com/framgia/coding-standards/blob/master/vn/README.md </a>&nbsp;</p>
                        <p>[Ruby tutorial book]  <a href="https://raw.githubusercontent.com/jay3126/various_imp_ebooks/master/the_ruby_programming_language.pdf" target="_blank">https://raw.githubusercontent.com/jay3126/various_imp_ebooks/master/the_ruby_programming_language.pdf</a>&nbsp;</p>
                        <p>[Rails tutorial in 8 days]&nbsp;</p>
                        <p><a href="https://www.railstutorial.org/book" target="_blank">https://www.railstutorial.org/book</a> (rails 5)&nbsp;&nbsp;</p>
                        <p><a href="http://3rd-edition.railstutorial.org/book" target="_blank">http://3rd-edition.railstutorial.org/book</a> (rails 4)&nbsp;</p>
                        <p></p>
                        <p>[CI Introduction]</p>
                        <p><a href="https://www.canva.com/design/DACZmRTQy2E/nj4j049y0GKFj_MJdcuObQ/edit" target="_blank">https://www.canva.com/design/DACZmRTQy2E/nj4j049y0GKFj_MJdcuObQ/edit</a>&nbsp;</p>
                        <p>[Guideline and note]</p>
                        <p>Sau khi đọc xong chương 1 và 2 của rails tutorial, bắt đầu từ (*)CHƯƠNG 3(*) các bạn phải tạo pull request và push code lên cho anh chị trainer review.</p>
                        <p>&nbsp;(*) 1 pullrequest tương ứng với 1 chapter</p>
                        <p>&nbsp;(*) Lưu ý về cách đặt tên:</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(.) Đăt tên repo là sample_app</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(.) Đặt tên branch tương ứng với tên chapter</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VD: làm chapter 3 _ thì tương ứng tên branch là chapter_3</p>
                        <p>(*) Sau khi tạo repo các bạn config repo của mình và prts theo [User guide] bên phải box nhé [https://prts.herokuapp.com/]</p>
                        <p></p>
                        <p>Ngoài ra, nên tránh:</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(.) Có một số trường hợp sẽ push code chapter 3 lên và đợi chapter 3 merger mới làm chapter 4. Như thế là sai nhé.</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sau khi push chapter 3 lên, thì đồng thời cũng checkout ra chapter 4 để làm tiếp. KHÔNG ĐƯỢC CÓ TÌNH TRẠNG CHỜ ĐỢI NHÉ</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(.) Một pullrequest được coi là đợi review lâu khi nó quá 3 giờ ready nhé... Nên không được có trường hợp, vừa push lên to cho anh chị ơi review lẹ giúp em</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(.) Một số lưu ý khi sử dụng [https://prts.herokuapp.com/]: Đối với pull ready lần đầu tiên chatbot sẽ ko thông báo, các em có thể xem pull của mình đã ready chưa trên link prts nhé</p>
                        <p>Ngoài ra em phải add thêm rubocop hỗ trợ check convention code vào source nhé.</p>
                        <p>(*)1. Add Rubocop vào project</p>
                        <p>Các bạn add gem https://github.com/bbatsov/rubocop này vào Gemfile theo hướng dẫn</p>
                        <p>Rồi copy 3 file sau ở folder này:</p>
                        <p>[info][title]New file uploaded.[/title][download:241836530]rubocop.tar.gz (9.30 KB)[/download][/info]</p>
                        <p>[info]</p>
                        <p>.rubocop.yml</p>
                        <p>.rubocop_disabled.yml</p>
                        <p>.rubocop_enabled.yml</p>
                        <p>[/info]</p>
                        <p>vào thư mục project, ngang hàng với Gemfile</p>
                        <p>Rồi trước mỗi lần commit gửi pull thì chạy lệnh này:</p>
                        <p>[info]rubocop[/info]</p>
                        <p>Chụp lại hình đã pass hết rubocop cho vào phần comment của pull request rồi gửi link cho trainer nha (bow)</p>
                        <p>(*) 2. Setting Sublime Text</p>
                        <p>Các bạn sử dụng setting này dành cho sublime để xử lý indent, trailing space và end of file nhé&nbsp;</p>
                        <p>Preference -&gt; Setting User -&gt; xóa hết cái cũ và paste cái mới vào nhé</p>
                        <p>[code]</p>
                        <p>{</p>
                        <p>&nbsp;&nbsp;"binary_file_patterns":</p>
                        <p>&nbsp;&nbsp;[</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;".bundle/",</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;"bin/",</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;"log/",</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;"tmp/",</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;"test/",</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;"vendor/assets/fonts/"</p>
                        <p>&nbsp;&nbsp;],</p>
                        <p>&nbsp;&nbsp;"color_scheme": "Packages/Color Scheme - Default/Monokai.tmTheme",</p>
                        <p>&nbsp;&nbsp;"ensure_newline_at_eof_on_save": true,</p>
                        <p>&nbsp;&nbsp;"font_size": 11,</p>
                        <p>&nbsp;&nbsp;"highlight_line": true,</p>
                        <p>&nbsp;&nbsp;"ignored_packages":</p>
                        <p>&nbsp;&nbsp;[</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;"Vintage"</p>
                        <p>&nbsp;&nbsp;],</p>
                        <p>&nbsp;&nbsp;"rulers":</p>
                        <p>&nbsp;&nbsp;[</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;80</p>
                        <p>&nbsp;&nbsp;],</p>
                        <p>&nbsp;&nbsp;"show_encoding": true,</p>
                        <p>&nbsp;&nbsp;"show_line_endings": true,</p>
                        <p>&nbsp;&nbsp;"tab_size": 2,</p>
                        <p>&nbsp;&nbsp;"telex": true,</p>
                        <p>&nbsp;&nbsp;"translate_tabs_to_spaces": true,</p>
                        <p>&nbsp;&nbsp;"trim_trailing_white_space_on_save": true,</p>
                        <p>&nbsp;&nbsp;"word_wrap": true</p>
                        <p>}[/code]</p>
                        <p>(*)3. Config hệ thống prts</p>
                        <p>[info]Các bạn truy cập url này: http://prts.herokuapp.com/ , chọn mục "User Guide" ở góc trên bên phải rồi làm theo hướng dẫn.</p>
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="label label-success timeline-label end_date_label"></span>
          <div class="clearfix"></div>
        </li>
        <li>
          <span class="label label-info timeline-label start_date_label">15/07/2018</span>
          <div class="subject-timeline subject">
            <div class="div-status" title="Init">
              <em class="status status-init cursor"></em>
            </div>
            <div class="subject-body clearfix">
              <div class="subject-image">
                <%= image_tag "project-1.jpg", class: "dp-img-circle" %>
              </div>
              <div class="infor">
                <div>
                  <a href="https://education.framgia.vn/courses/256/subjects/2">
                    <span class="subject-name">Ruby's Project 1</span>&nbsp;
                  </a>
                  <span><i>10  days</i></span>&nbsp;&nbsp;
                </div>
                <i class="td-subject-description">Start Project 1 for Ruby on Rails today.</i>
                <div class="td-subject-content">
                  <div class="subject-content">
                    <p data-toggle="collapse" data-target="#td-content-subject-2" class="td-show-more">[Show content]</p>
                    <div id="td-content-subject-2" class="collapse">
                      <i class="td-subject-description">
                        <p>[List of techniqes are Rails Advance]     </p>
                        <p>&nbsp;[Rails Advance 1]&nbsp;</p>
                        <p>1. Nested Attribute (fields_for, reject_if, allow_destroy, ...)&nbsp;</p>
                        <p>2. Batch Update&nbsp;</p>
                        <p>3. Form_for&nbsp;</p>
                        <p>4. Call back function&nbsp;</p>
                        <p>5. Macro (generate, rake, spring, ...)&nbsp;</p>
                        <p>6. Ajax (Rails ajax, jQuery ajax)&nbsp;</p>
                        <p>7. Seed&nbsp;</p>
                        <p>8. RESTful (<a href="http://www.infoq.com/articles/rest-introduction" target="_blank">http://www.infoq.com/articles/rest-introduction</a> )&nbsp;&nbsp;</p>
                        <p>9. Association (has_many/has_one/belongs_to)&nbsp;</p>
                        <p>10. Transaction&nbsp;</p>
                        <p>11. Resources, Nested Resources&nbsp;</p>
                        <p>12. Resource&nbsp;</p>
                        <p>13. Export CSV, Excel&nbsp;</p>
                        <p>14. Rake task&nbsp;</p>
                        <p>15. CSRF Protection&nbsp;</p>
                        <p>16. Coffee&nbsp;</p>
                        <p>17. Concerns&nbsp;</p>
                        <p>18. Scope&nbsp;</p>
                        <p>19. I18n (mutil language, dictionary, time format, number format, ...)&nbsp;</p>
                        <p>20. Search form, filter form&nbsp;</p>
                        <p>21. Gem Config (<a href="https://github.com/railsconfig/config" target="_blank">https://github.com/railsconfig/config</a> )&nbsp;</p>
                        <p>22. Eager Loading Associations&nbsp;</p>
                        <p>23. Validation&nbsp;</p>
                        <p>24. Environment Variable&nbsp;</p>
                        <p>25. MVC&nbsp;</p>
                        <p>26. Module mixin&nbsp;</p>
                        <p>27. Proc / Lambda&nbsp;</p>
                        <p>28. Debug Javascipt code&nbsp;</p>
                        <p>29. Jquery selector&nbsp;</p>
                        <p>30. CSS selector&nbsp;</p>
                        <p>31. Ruby Nil Object&nbsp;</p>
                        <p>[Rails Advance 2]&nbsp;</p>
                        <p>1. Gem Devise&nbsp;</p>
                        <p>2. Gem CanCanCan&nbsp;</p>
                        <p>3. Gem Ransack&nbsp;</p>
                        <p>4. Background job: sidekiq, resque&nbsp;</p>
                        <p>5. Cronjob: whenever, delayed job&nbsp;</p>
                        <p>6. Unit Test (Rspec)&nbsp;</p>
                        <p>7. Metaprogramming (send, eval, class_eval, ...)&nbsp;</p>
                        <p>8. Authenticate via Facebook, Twitter, Google&nbsp;</p>
                        <p>9. Social button share (<a href="https://github.com/huacnlee/social-share-button" target="_blank">https://github.com/huacnlee/social-share-button</a> )&nbsp;</p>
                        <p>10. Gem paranoia (<a href="https://github.com/rubysherpas/paranoia" target="_blank">https://github.com/rubysherpas/paranoia</a> )&nbsp;</p>
                        <p>11. Gem public_activity&nbsp;</p>
                        <p>12. Simple form (<a href="https://github.com/plataformatec/simple_form" target="_blank">https://github.com/plataformatec/simple_form</a> )&nbsp;</p>
                        <p>13. Kaminari (<a href="https://github.com/amatsuda/kaminari" target="_blank">https://github.com/amatsuda/kaminari</a> )&nbsp;</p>
                        <p>14. Friendly_id (<a href="https://github.com/norman/friendly_id" target="_blank">https://github.com/norman/friendly_id</a> )&nbsp;</p>
                        <p>15. Chatwork (<a href="https://github.com/asonas/chatwork-ruby" target="_blank">https://github.com/asonas/chatwork-ruby</a> )</p>
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="label label-success timeline-label end_date_label"></span>
          <div class="clearfix"></div>
        </li>
        <li><i class="timeline-end-icon bg-gray"></i><i class="fa fa-clock-o"></i></li>
      </ul>
    </div>
  </div>
</div>
