<% users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= link_to t(".delete"), user_path(user.id), method: :delete %></td>
  </tr>
<% end %>
